:root {
  --dark-blue-300: rgba(10, 56, 113, 1);
  --gray-400: rgba(73, 80, 87, 1);
  --gray-500: rgba(52, 58, 64, 1);
  --light-blue-100: rgba(243, 245, 252, 1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  background-color: var(--light-blue-100);
  font-family: "Inter", sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 16px;
  background-color: var(--light-blue-100);
}

header > h1:before {
  content: "C";
  color: var(--light-blue-100);
  background-color: var(--dark-blue-300);
  border-width: 0;
  border-radius: 50%;
  line-height: 0;
  padding: 10px 15px;
  margin:0;
}
/* main */
main {
  display: flex;
  flex-direction: column;
}

/* left-section */
#left-section {
  margin-top: 136px;
  margin-bottom: 88px;
}

#input-text {
  font-size: 2rem;
  color: var(--dark-blue-300);
  border: 0;
  width: 100%;
  min-height: 9em;
  margin-bottom: 0.5em;
  background-color: var(--light-blue-100);
  resize: none;
  overflow: auto;
}

#input-text:focus {
  outline: 0;
}

/* buttons */
.button-container {
  display: flex;
  flex-direction: column;
}

#input-buttons {
  justify-content: space-between;
  gap: 24px;
}

.buttons {
  display: block;
  width: 100%;
  height: 67px;
  border: 1px solid var(--dark-blue-300);
  border-radius: 24px;
  color: var(--dark-blue-300);
  font-size: 1em;
}

.buttons:active {
  filter: invert(100%);
}

#cypher {
  border: 0;
  background-color: var(--dark-blue-300);
  color: white;
}

#decypher {
  background-color: var(--light-blue-100);
}

/* input-advice */
#input-advice {
  color: var(--gray-400);
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  display: flex;
  flex-flow: row;
  margin-bottom: 1rem;
  align-items: center;
}

#input-advice > p {
  margin: 0;
  padding: 0;
}

#attention-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--gray-400);
  color: white;
  font-weight: bold;
  text-align: center;
  margin-right: 0.5rem;
}

#attention-icon > p {
  line-height: 1.3em;
}

/* #right-section */
#right-section {
  background-color: white;
  border: 0;
  border-radius: 2em;
  padding: 2em;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#result-image {
  display: none;
}

#result-title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 120%;
  text-align: center;
  color: var(--gray-500);
  margin-bottom: 1em;
}

#result-text {
  line-height: 150%;
  text-align: center;
  color: var(--gray-400);
}

#result {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

#result-space {
  font-size: 1.5em;
  line-height: 150%;
  text-align: left;
  word-break: break-word;
  overflow: auto;
  margin-bottom: 1em;
}

#copy {
  background-color: white;
}

/* @media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    padding: 40px;
  }

  header {
    padding: 40px;
  }

  .button-container {
    flex-direction: row;
  }
} */

/* @media screen and (max-width: 1440px) {
  .button-container {
    width: 680px;
  }
} */
